/* Author: Andrii Kudenko
   Description: css file for more appealing look of the page for searching users
*/

.highlighted {
    color:black;
    font-weight: bold;
}
.unhighlighted{
    color: grey;
}

.search-bar {
    position: relative;
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#searchInput {
    width: 100%;
    padding: 12px 16px;
    border: none;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
}
.search-icon {
    position: absolute;
    top: 0; 
    transform: translateY(50%);
    right: 8px;    
}
.search-bar:focus-within {
    border: 1px solid #007bff;
}
.search-bar:focus-within .search-icon {
    fill: #007bff; 
}

#result-section {
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ccc;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);    
}

#users-result-list {
    list-style: none;
    margin-top: 6px;
    margin-bottom: 0;
    padding: 0;
}

.users-result-list-item {
    border-left: 1px solid transparent;
    padding: 10px 16px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
    position:relative;
}


.users-result-list-item:hover {
    background-color: #f0f0f0;
    border-left: 1px solid #007bff;
}

.view-user-arrow {
    position: absolute;
    right: 24px;
    bottom: 50%;
    transform: translateY(50%);
    fill: #007bff;
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.users-result-list-item:hover .view-user-arrow {
    opacity: 1;
    animation: moveArrow 1.5s infinite ease-in-out;
}

@keyframes moveArrow {
    0% {
        transform: translateY(50%) translateX(0);
        opacity: 0.3;
    }

    50% {
        transform: translateY(50%) translateX(10px);
        opacity: 1;
    }

    100% {
        transform: translateY(50%) translateX(0);
        opacity: 0.3;
    }
}
.search-view-user-btn {
    position: absolute;
    right: 8px;
    bottom: 50%; 
    transform: translateY(50%);
}
.users-result-link {
    text-decoration: none;
    border-radius: 10px;
}

.mb-6 {
    margin-bottom: 6px;
}